Repository nihldev/terraform-aws-keycloak: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, check-tfvars-coverage, conftest-policy-check

markdownlint:
  name: Markdown lint
  description: Lint and fix markdown files
  entry: markdownlint-cli2
  args:
  - --fix
  - --config
  - .markdownlint.yaml
  language: system
  stages:
  - pre-commit

check-tfvars-coverage:
  name: Verify tfvars.example coverage
  description: Ensure all variables are documented in terraform.tfvars.example
  entry: ./scripts/check-tfvars-coverage.sh
  language: script
  stages:
  - pre-push
  pass_filenames: false

conftest-policy-check:
  name: Conftest policy validation
  description: Validate Terraform modules with custom OPA policies
  entry: bash -c 'conftest test --policy policy/ modules/ --all-namespaces || true'
  language: system
  stages:
  - pre-push
  pass_filenames: false

feat: make health check path configurable - Add health_check_path variable with default "/health/ready" - Allows custom Keycloak builds to use different health endpoints
  modules/keycloak/networking.tf
  modules/keycloak/variables.tf
Due: check-tfvars-coverage, conftest-policy-check

ci: remove verbose flag from terraform test commands - Remove -verbose flag for cleaner CI logs - Add inline comments explaining the choice - Verbose mode can still be used locally for debugging
  .github/workflows/terraform-tests.yml
Due: none

fix: use health_check_path variable in container health check Replace hardcoded /health/ready path with var.health_check_path to ensure consistency between container and ALB health checks.
  modules/keycloak/ecs.tf
Due: conftest-policy-check

refactor: migrate tfsec:ignore comments to trivy format - Update inline ignore comments to use trivy:ignore:AVD-AWS-xxxx format - Remove legacy tfsec references from .trivyignore and CONTRIBUTING.md
  .trivyignore
  CONTRIBUTING.md
  modules/keycloak/database.tf
  modules/keycloak/networking.tf
Due: markdownlint, conftest-policy-check

chore: enforce conftest policy checks and add CODEOWNERS - Remove `|| true` from conftest commands to fail on policy violations - Add CODEOWNERS file for automatic PR review requests
  .github/CODEOWNERS
  .github/workflows/terraform-tests.yml
  .pre-commit-config.yaml
Due: none

fix(ci): update taplo download URL for latest release The binary filename changed from taplo-full-linux-x86_64.gz to taplo-linux-x86_64.gz in recent releases.
  .github/workflows/terraform-tests.yml
Due: none

fix(docs): correct markdown capitalization and code formatting - Use backticks for commands and file paths - Capitalize proper nouns in prose text
  CONTRIBUTING.md
  README.md
  modules/keycloak/README.md
  tests/README.md
Due: markdownlint

fix(ci): exclude node_modules from markdownlint Third-party packages in node_modules contain markdown files that don't conform to our linting rules.
  .github/workflows/terraform-tests.yml
Due: none

style: format TOML files with taplo
  mise.toml
  ruff.toml
Due: none

fix: address Copilot PR review comments
  modules/keycloak/variables.tf
  scripts/check-tfvars-coverage.sh
  tests/outputs_validation.tftest.hcl
Due: check-tfvars-coverage, conftest-policy-check

fix(ci): configure linters to fail on warnings
  .github/workflows/terraform-tests.yml
  .yamllint
Due: none

fix(ci): limit push trigger to main branch only
  .github/workflows/terraform-tests.yml
Due: none

refactor(ci): use paths-ignore for more robust trigger filtering
  .github/workflows/terraform-tests.yml
Due: none

refactor(ci): use GitHub step summary for status check output
  .github/workflows/terraform-tests.yml
Due: none

refactor(ci): use mise-action for tool management
  .github/workflows/terraform-tests.yml
Due: none

refactor: migrate from pre-commit to lefthook
  .pre-commit-config.yaml
  lefthook.yml
  mise.toml
Due: none

docs: update pre-commit references to lefthook
  .gitignore
  .terraformignore
  CONTRIBUTING.md
  README.md
Due: markdownlint

docs: fix case sensitivity and tool name issues
  CONTRIBUTING.md
  README.md
  examples/complete/README.md
  examples/ses-email/README.md
  modules/keycloak/README.md
  tests/README.md
Due: markdownlint

docs: simplify READMEs by linking to example directories
  README.md
  modules/keycloak/README.md
Due: markdownlint

fix: add validation to health_check_path to prevent command injection
  modules/keycloak/README.md
  modules/keycloak/variables.tf
Due: markdownlint, check-tfvars-coverage, conftest-policy-check

docs: streamline README by removing duplication with CONTRIBUTING
  README.md
Due: markdownlint

chore: pin mise tool versions and add version check workflow
  .github/workflows/check-tool-versions.yml
  mise.toml
Due: none

fix: add GITHUB_TOKEN to tflint init to avoid rate limits
  .github/workflows/terraform-tests.yml
Due: none

feat: improve repository visibility and community features
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: markdownlint

fix: exclude CHANGELOG.md from markdown linting
  .github/workflows/terraform-tests.yml
  .markdownlint.yaml
  lefthook.yml
  mise.toml
Due: none

fix: address PR review comments
  README.md
Due: markdownlint

feat: improve repository visibility and community features (#3)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/terraform-tests.yml
  .markdownlint.yaml
  README.md
  lefthook.yml
  mise.toml
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: (\.terraform/|node_modules/)
  check-tfvars-coverage: any of: (variables\.tf|terraform\.tfvars\.example)$
  conftest-policy-check: any of: \.tf$, but not: (\.terraform/|examples/)
